<div class="container pt-128">
  <div class="row">
    <div class="col-12">
      <label>Title</label>
      <div>
        <input [(ngModel)]="title" />
      </div>
      <label>Description</label>
      <div>
        <textarea maxlength="255" rows="5" [(ngModel)]="description"></textarea>
      </div>
      <label>Start Date</label>
      <div>
        <input [(ngModel)]="startDate" type="date" />
      </div>
      <label>End Date</label>

      <div>
        <input [(ngModel)]="endDate" type="date" />
      </div>
      <button
        class="width-100 btn btn-sm background-signal-danger border-none cursor-pointer"
        (click)="onUpdateMilestone()"
      >
        Save
      </button>

      <app-tasks></app-tasks>
    </div>
  </div>
</div>
