<div class="container">
  <div class="row">
    <div class="col-12 mt-124">
      <h1>{{ projectTitle }}</h1>
      <input (keyup)="onInput($event)" placeholder="new title" class="" />
      <button
        (click)="updateProject()"
        class="width-50 btn btn-sm background-signal-danger text-black border-none cursor-pointer"
      >
        Update project title
      </button>
      <div>
        <h3>New task</h3>
        <label>Task name</label>
        <div>
          <input name="title" (keyup)="onNewTaskInput($event)" />
        </div>

        <label>Description</label>
        <div>
          <textarea
            name="description"
            (keyup)="onNewTaskInput($event)"
          ></textarea>
        </div>
        <label>Deadline</label>
        <div>
          <input
            name="deadline"
            type="date"
            (change)="onNewTaskInput($event)"
            (keyup)="onNewTaskInput($event)"
          />
        </div>
      </div>
      <div>
        <button (click)="onAddTask()">Add task</button>
      </div>
      <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Deadline</th>
          <th>milestoneId</th>
          <th>statusId</th>
          <th>assignee</th>
        </tr>
        <tr *ngFor="let task of projectTasks">
          <td>
            {{ task.title }}
          </td>
          <td>
            {{ task.description }}
          </td>
          <td>
            {{ task.deadline }}
          </td>
          <td>
            {{ task.milestoneId }}
          </td>
          <td>
            {{ task.statusId }}
          </td>
          <td>
            {{ task.assignee }}
          </td>
        </tr>
      </table>
      <div class="d-flex gap-32">
        <div
          class="py-8 px-12 border-radius-16 background-gray-accent-5 text-neutral cursor-pointer"
          *ngFor="let page of pages"
        >
          {{ page }}
        </div>
      </div>
    </div>
  </div>
</div>
