<div class="topnav d-flex">
  <a class="topnavItem" (click)="navbarItem = 'info'">Info</a>
  <a class="topnavItem" (click)="navbarItem = 'tasks'">Tasks</a>
  <a class="topnavItem" (click)="navbarItem = 'milestones'">Milestones</a>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 mt-124">
      <h1>{{ projectTitle }}</h1>
      <div *ngIf="navbarItem == 'info'">
        <app-info
          [title]="projectTitle"
          (newTitleCreated)="onUpdateTitle($event)"
        ></app-info>
      </div>
      <div *ngIf="navbarItem == 'tasks'"><app-tasks></app-tasks></div>
      <div *ngIf="navbarItem == 'milestones'">
        <app-milestones></app-milestones>
      </div>
    </div>
  </div>
</div>
