$black: #000000;
$light-black: #333;
$neutral: #ffffff;
$green: green;
$blue: blue;
$yellow: yellow;
$red: red;

$brand-primary-light-accent: #5b768b;
$brand-primary-default-accent: #204969;
$brand-primary-dark-accent: #142f44;

$brand-secondary-light-accent: #72c072;
$brand-secondary-default-accent: #3aa338;
$brand-secondary-dark-accent: #287127;

$gray-accent-1: #f7f7f7;
$gray-accent-2: #efefef;
$gray-accent-3: #c5c5c5;
$gray-accent-4: #a9a9a9;
$gray-accent-5: #7f7e7e;

$signal-error: #c72626;
$signal-danger: #ecba40;
$signal-success: #189821;

$disabled-gray: #e7e3e3;

//
//
//
//
//

$all-colors: (
  black: $black,
  green: $green,
  blue: $blue,
  yellow: $yellow,
  red: $red,
  neutral: $neutral,
  gray-accent-1: $gray-accent-1,
  gray-accent-2: $gray-accent-2,
  gray-accent-3: $gray-accent-3,
  gray-accent-4: $gray-accent-4,
  gray-accent-5: $gray-accent-5,
  disabled-gray: $disabled-gray,
  signal-error: $signal-error,
  signal-danger: $signal-danger,
  signal-success: $signal-success,
  brand-primary-light-accent: $brand-primary-light-accent,
  brand-primary-default-accent: $brand-primary-default-accent,
  brand-primary-dark-accent: $brand-primary-dark-accent,
  brand-secondary-light-accent: $brand-secondary-light-accent,
  brand-secondary-default-accent: $brand-secondary-default-accent,
  brand-secondary-dark-accent: $brand-secondary-dark-accent,
);

// button color variables

$button-colors: (
  primary: (
    // 1 --> text
    $neutral,
    // 2 --> bg
    $black,
    // 3 --> bg hover
    $black,
    // 4 --> bg focus
    $black,
    // 5 --> bg active
    $black,
  ),
);

// button shadows
$primary-button-reg-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
$primary-button-hover-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.446296);
$primary-button-focus-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
$primary-button-active-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

$button-shadows: (
  primary: (
    // 1 --> reg
    $primary-button-reg-shadow,
    // 2 --> hover
    $primary-button-hover-shadow,
    // 3 --> focus
    $primary-button-focus-shadow,
    // 4 --> active
    $primary-button-active-shadow,
  ),
);

// shadows

$shadow-xs: 0 2px 5px 0 rgba(135, 128, 128, 0.05);
$shadow-sm: 0 4px 15px 0 rgba(135, 128, 128, 0.1);
$shadow-reg: 0 8px 25px 2px rgba(185, 181, 181, 0.25);
$shadow-lg: 0 12px 35px 4px rgba(178, 175, 175, 0.35);
$shadow-xl: 0 18px 42px 4px rgba(178, 175, 175, 0.4);

$all-shadows: (
  shadow-xs: $shadow-xs,
  shadow-sm: $shadow-sm,
  shadow-reg: $shadow-reg,
  shadow-lg: $shadow-lg,
  shadow-xl: $shadow-xl,
);

$box-shadow-xs: 0px 2px 10px rgba(212, 215, 227, 0.2);
$box-shadow-sm: 0px 4px 15px rgba(212, 215, 227, 0.3);
$box-shadow-reg: 0px 8px 20px rgba(212, 215, 227, 0.4);
$box-shadow-lg: 0px 16px 25px rgba(212, 215, 227, 0.5);

// spacings

$spacer: 1rem !default;
$spacers: (
  0: 0,
  2: (
    $spacer * 0.125,
  ),
  4: (
    $spacer * 0.25,
  ),
  8: (
    $spacer * 0.5,
  ),
  10: (
    $spacer * (10 / 16),
  ),
  12: (
    $spacer * 0.75,
  ),
  16: (
    $spacer,
  ),
  24: (
    $spacer * 1.5,
  ),
  32: (
    $spacer * 2,
  ),
  48: (
    $spacer * 3,
  ),
  64: (
    $spacer * 4,
  ),
  96: (
    $spacer * 6,
  ),
  128: (
    $spacer * 8,
  ),
  256: (
    $spacer * 16,
  ),
  384: (
    $spacer * 24,
  ),
  512: (
    $spacer * 32,
  ),
  auto: auto,
);

$font-family-sans-serif: "Circular";

$font-size-base: 1rem !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5;

$h1-font-size: $font-size-base * 3;
$h1-line-height: $font-size-base * 4;
$h1-mobile-font-size: $font-size-base * 2.625;
$h1-mobile-line-height: $font-size-base * 3.5;

$h2-font-size: $font-size-base * 2.375;
$h2-line-height: $font-size-base * 3.25;

$h3-font-size: $font-size-base * 2;
$h3-line-height: $font-size-base * 3;

$h4-font-size: $font-size-base * 1.5;
$h4-line-height: $font-size-base * 2.25;

$h5-font-size: $font-size-base * 1.25;
$h5-line-height: $font-size-base * 1.5;

$h6-font-size: $font-size-base * 0.875;
$h6-line-height: $font-size-base * 1.125;

$body-lg-font-size: $font-size-base * (18 / 16);
$body-lg-line-height: $font-size-base * (28 / 16);

$body-reg-font-size: $font-size-base;
$body-reg-line-height: $font-size-base * 1.5;

$body-sm-font-size: $font-size-base * 0.875;
$body-sm-line-height: $font-size-base * 1.325;

// $body-xs-font-size: $font-size-base * 0.625;
// $body-xs-line-height: $font-size-base * 0.9375;

$body-xs-font-size: $font-size-base * 0.75;
$body-xs-line-height: $font-size-base * 1;

$body-xxs-font-size: $font-size-base * 0.5;
$body-xxs-line-height: $font-size-base * 0.75;

// border properties

$border-width: 1px;
$button-border-width: $border-width;
$input-border-width: $border-width;

$border-radius: 4px;
$btn-border-radius: $border-radius;
$input-border-radius: $border-radius;
$tooltip-border-radius: $border-radius;
$checkbox-border-radius: $border-radius;

// buttons + forms
//
// shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$btn-sm-padding-x: 0.625rem;
$btn-sm-padding-y: 0.375rem;
$btn-sm-font-size: 0.875rem;
$btn-sm-line-height: 1.25rem;

$btn-reg-padding-x: 1rem;
$btn-reg-padding-y: 0.5rem;
$btn-reg-font-size: 1rem;
$btn-reg-line-height: 1.5rem;

$btn-lg-padding-x: 1.5rem;
$btn-lg-padding-y: 0.5rem;
$btn-lg-font-size: 1.125rem;
$btn-lg-line-height: 2rem;

$global-transition: all 0.2s ease-out;

//
//
//

$opacity: 1 !default;
$opacities: (
  0: 0,
  10: 0.1,
  20: 0.2,
  30: 0.3,
  40: 0.4,
  50: 0.5,
  60: 0.6,
  70: 0.7,
  80: 0.8,
  90: 0.9,
  100: 1,
);

//
//
//

//
//
//

$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
  xxl: $breakpoint-xxl,
);

//
//
//

$alignments: (
  "center",
  "space-between",
  "space-around",
  "space-evenly",
  "flex-start",
  "flex-end",
  "baseline",
  "stretch",
  "auto"
);
$textAlignments: ("left", "right", "center", "revert", "justify");

//
//
//

$displays: (
  "block",
  "inline-block",
  "inline",
  "grid",
  "table",
  "table-row",
  "table-cell",
  "flex",
  "inline-flex",
  "none"
);

//
//
//

$flexDirections: ("row", "column", "row-reverse", "column-reverse");
$flexWraps: ("wrap", "nowrap", "wrap-reverse");
$flexSizes: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9);

//
//
//

$layers: (-1, 0, 1, 2, 3, 4, 5);

//
//
//

$cursors: (
  pointer,
  help,
  wait,
  crosshair,
  not-allowed,
  zoom-in,
  zoom-out,
  grab,
  auto
);

//
//
//

$fontWeight: (100, 200, 300, 400, 500, 600, 700, 800, 900);

//
// width/height percents
//

$percents: (
  0: 0%,
  8: 8.33333333%,
  17: 16.66666667%,
  25: 25%,
  33: 33.33333333%,
  42: 41.66666667%,
  50: 50%,
  58: 58.33333333%,
  67: 66.66666667%,
  75: 75%,
  83: 83.33333333%,
  92: 91.66666667%,
  100: 100%,
);

//
// overflow
//

$overflows: (auto, hidden, visible, scroll);

//
// positions
//

$positions: (static, relative, absolute, fixed, sticky);

// :export {
//   black: $black;
//   neutral: $neutral;
//   grayAccent1: $gray-accent-1;
//   grayAccent2: $gray-accent-2;
//   grayAccent3: $gray-accent-3;
//   grayAccent4: $gray-accent-4;
//   grayAccent5: $gray-accent-5;
//   disabledGray: $disabled-gray;
//   signalError: $signal-error;
//   signalDanger: $signal-danger;
//   signalSuccess: $signal-success;
//   brandPrimaryLightAccent: $brand-primary-light-accent;
//   brandPrimaryDefaultAccent: $brand-primary-default-accent;
//   brandPrimaryDarkAccent: $brand-primary-dark-accent;
//   brandSecondaryLightAccent: $brand-secondary-light-accent;
//   brandSecondaryDefaultAccent: $brand-secondary-default-accent;
//   brandSecondaryDarkAccent: $brand-secondary-dark-accent;
// }

$global-transiton: all 0.2s ease-out;
