<div class="container pt-128">
  <div class="row">
    <div class="col-12">
      <div class="d-flex gap-16">
        <div *ngFor="let label of taskLabels">
          <div *ngIf="label.title != ''">
            <div
              class="background-{{
                label.colorCode
              }} border-radius-16 text-black px-16 pt-16 pb-2"
            >
              {{ label.title }}
              <p
                class="m-0 mb-16 body-xs underline cursor-pointer"
                (click)="removeLabel(label.id)"
              >
                remove
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-16">
        <label>Title</label>
        <div>
          <input [(ngModel)]="title" />
        </div>
      </div>
      <div class="mt-16">
        <label>Description</label>
        <div>
          <textarea
            maxlength="255"
            rows="5"
            [(ngModel)]="description"
          ></textarea>
        </div>
      </div>
      <div class="mt-16">
        <label>Deadline</label>
        <div>
          <input [(ngModel)]="deadline" type="date" />
        </div>
      </div>
      <div class="mt-16">
        <label>Milestones</label>
        <div>
          <select name="milestone" [(ngModel)]="activeMilestone">
            <option *ngFor="let milestoneOption of milestoneSelection">
              {{ milestoneOption }}
            </option>
          </select>
        </div>
      </div>
      <div class="mt-16">
        <label>Status</label>
        <div>
          <select name="status" [(ngModel)]="activeStatus">
            <option *ngFor="let status of statustOptions">
              {{ status }}
            </option>
          </select>
        </div>
      </div>
      <div class="mt-16">
        <label>Labels</label>
        <div class="d-flex">
          <select name="label" (change)="changeActiveLabel($event)">
            <option *ngFor="let label of projectLabels">
              {{ label.title }}
            </option>
          </select>
          <button (click)="addLabel()">Add label</button>
        </div>
      </div>
      <button
        class="mt-16 width-100 btn btn-sm background-signal-danger border-none cursor-pointer"
        (click)="onUpdateTask()"
      >
        Save
      </button>
    </div>
  </div>
</div>
